@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Fragment+Mono:ital@0;1&family=Fugaz+One&family=Geostar&family=Jua&family=Mako&family=MedievalSharp&family=Noto+Sans+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Poiret+One&family=REM:ital,wght@0,100..900;1,100..900&family=Strait&family=Sunflower:wght@300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* * :root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
} */

/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Fragment Mono", monospace;
}

.leadershipP, .aboutMe {
  text-align: left;
}

.uvm {
  text-decoration: underline 2px green;
}

.general, .technicalSkills {
  text-decoration: underline 2px red;
}

.suhrs{
  text-decoration: underline 2px yellow
}

.leadershipHeader {
  text-decoration: underline 2px rgb(5, 215, 243);
}

.resumeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skillsDiv {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* height: 55vh; */
  /* border: solid 2px black; */
}

.educationDiv {
  border: solid 2px black;
  margin: 5px;
}

.jobDates{
  padding-top: -10px;
}

.jobsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding: 5px;
}

.jobHeader {
  display: inline;
  align-items: start;
  /* flex-direction: row;
  flex-wrap: wrap; */

  /* justify-content: flex-start;
  align-items: flex-start; */
}

.jobItemDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.jobBullets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

/* li {

} */

.webDevHeader {
  margin: 30px;
}

.movieRecsThumb, .fishThumb, .pathThumb{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 500px;
  width: 400px;
}

.mrImage, .fishImage, .pathImage {
  height: 300px;
  width: 400px;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
}

.movieRecsButton, .whereToFishButton, .chosenPathButton {
  /* background-image: url('/assets/movieRecs/Screen Shot 2025-01-23 at 4.46.01 PM.png');
  background-size: cover;
  background-position: center;
  width: 500px; */
  background: transparent;
  cursor: pointer;
  height: 40px;
}

.thumbnailDiv {
  display: flex;
  /* border: 3px ridge red; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 10px;
}

.homeDiv{
  display: flex;
  /* border: 5px ridge red; */
  height: 75vh;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navBarDiv {
  /* border: 5px ridge red; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* height: 35px; */
  min-height: auto;
}

.navButton {
  height: 35px;
  width: 150px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}

.email {
  cursor: pointer;
}

a, .email {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover, .email {
  color: #535bf2;
}



button {
  transition: border-color 0.25s;
}
button:hover {
  border-color: #9406e0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #9406e0;
    background-color: #ffffff;
  }
}

@media (max-width: 450px) {

   #root {
    padding: 0px !important;
  }

  .movieRecImg, .whereToFishImg, .chosenPathImg {
    width: 350px;
  }

  .movieRecsThumb, .fishThumb, .pathThumb {
    height: fit-content;
    margin-bottom: 30px;
  }

  .thumbnailDiv {
    display: flex;
    flex-direction: column;
    /* border: 2px ridge black;
    width: 100vw; */
    padding: 0;
    margin: 0;
  }

  .resumeContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .jobsDiv {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    border: none !important;
  }

  .jobBullets {
    width: 100%;
    text-align: left;
  }

  .skillsDiv {
    width: 100%;
  }

  .navBarDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 25%;
    /* margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto; */
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


} */
